.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokedex {
  position: relative;
  width: 786px;
  height: 577px;
  background: url("http://brezomadrid.es/Codepen-resources/img/pokedex.png")
    no-repeat;
  align-items: center;
}
.screen {
  width: 237px;
  height: 158px;
  background: #ffffff;
  position: absolute;
  top: 169px;
  left: 73px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}
.searchbox {
  width: 112px;
  height: 40px;
  position: absolute;
  bottom: 76px;
  left: 452px;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
}
.pokedata {
  background: #000000;
  display: block;
  color: #ffffff;
  position: relative;
  top: 160px;
  left: 441px;
  width: 275px;
  height: 120px;
  border-radius: 3px;
  text-align: justify;
  z-index: 2;
  list-style: none;
}
.search {
  position: absolute;
  height: 32px;
  width: 100px;
  background: transparent;
  border: none;
  color: white;
  font-size: 30px;
  line-height: 15px;
  cursor: pointer;
  outline: none;
  right: 95px;
  bottom: 83px;
}
.default {
  position: relative;
  top: 20%;
  width: 50%;
}
